.createAlbum{
    position: relative;
    top:20%;
    background-color: transparent;
}

.createAlbumContainer{
    height: calc(100% - var(--playbar-height));
    background: -webkit-linear-gradient(top, #0067c6 0%,#002e6b 38%,#1b1c31 56%,#7db9e8 56%,#13131f 56%,#13131f 56%,#1b1c31 56%,#002e6b 72%,#0067c6 100%); /* Chrome10-25, Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067c6', endColorstr='#0067c6',GradientType=0 ); /* IE6-9 */

}

