.dropdown-menu-element{
    width: 80%;
    background-color: transparent;
    border: none;
    text-align: center;
    border-radius: 8px;
    color: var(--color-subtext);
    margin-bottom: 2px;
}

.dropdown-menu-element:hover{
    background-color: dimgrey;
}